<div class="header">
  <div class="item">{{day}}</div>
  <div class="item">{{date}}</div>
</div>
<div class="forecast">
    <div class="name">{{location.name}}</div>
    <div class="forecast-row">
      <div class="temperature">{{location.current.temperature}}</div>
    </div>
    <div class="pressure">{{location.current.pressure}}</div>
</div>
