:host {

  align-items: stretch;
  background: url('../../../assets/img/forecast-background.png') no-repeat center / cover;
  border-radius: 4.2px 0 0 4.2px;
  cursor: default;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: flex-start;
  position: relative;
  user-select: none;
  width: 320px;

  .header {

    align-items: center;
    background: rgba(0, 0, 0, 0.37);
    border-radius: 4.2px 0 0 0;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;

    .item {

      color: #FFFFFF;
      font-size: 19px;
      font-weight: 100;
      letter-spacing: 0;
      text-align: left;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);

      &:first-child {
        margin-left: 19px;
      }

      &:last-child {
        margin-right: 19px;
      }
    }
  }

  .forecast {

    align-items: stretch;
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    justify-content: flex-start;
    padding: 19px;
    position: relative;

    .name {
      color: #FFFFFF;
      font-size: 36px;
      letter-spacing: 0;
      line-height: 42px;
      margin-bottom: 7px;
      text-align: left;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
    }

    .forecast-row {

      display: flex;
      flex-direction: row;

      .temperature {

        color: #FFFFFF;
        font-size: 100px;
        font-weight: 100;
        letter-spacing: -3px;
        line-height: 117px;
        text-align: left;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.55);

        &::after {
          content: '°'
        }
      }
    }
  }
}
