:host {

  align-items: stretch;
  background: #DBE6F6;
  background: linear-gradient(-180deg, #30CFD0 0%, #330867 100%);
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: flex-start;
  margin-bottom: 20px;
  position: relative;
  width: 800px;

  .content {
    align-items: stretch;
    display: flex;
    flex: 1 auto;
    flex-direction: row;
    position: relative;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
