<div class="content">
  <app-forecast [location]="location" *ngIf="!refreshing"></app-forecast>
  <app-forecast-lite *ngFor="let forecast of location.forecasts; let idx = index" [forecast]="forecast" [index]="idx"></app-forecast-lite>
  <div class="spinner" *ngIf="refreshing"></div>
</div>
