:host {

  align-items: stretch;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  user-select: none;
  width: 120px;

  .container {

    align-items: stretch;
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    justify-content: flex-start;

    .header {
      color: #FFFFFF;
      font-size: 24px;
      font-weight: 300;
      height: 60px;
      letter-spacing: 0;
      line-height: 60px;
      text-align: center;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.30);
    }
  }

  &:last-child {
    border-radius: 0 4.2px 4.2px 0;
  }
}
