:host {
  align-items: center;
  background: #8A2387;
  background: linear-gradient(-180deg, #56317A 0%, #3D99BE 69%, #3AB5B0 100%);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  position: relative;
  width: 100%;
}
