/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
}
